@import './reset.css';

@font-face {
  font-family: 'Geist Pixel Square';
  src: url('/fonts/geist-pixel/GeistPixel-Square.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Pixel Grid';
  src: url('/fonts/geist-pixel/GeistPixel-Grid.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

:root,
:root[data-theme='light'] {
  color-scheme: light;
  --theme-bg: 0deg 0% 98%;
  --theme-link: 172deg 18% 41%;
  --theme-text: 203deg 11% 15%;
  --theme-accent: 351deg 66% 48%;
  --theme-accent-2: 0deg 0% 7%;
  --theme-quote: 351deg 66% 48%;
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --theme-bg: 210deg 6% 12%;
  --theme-link: 330deg 49% 67%;
  --theme-text: 220deg 3% 79%;
  --theme-accent: 159deg 64% 45%;
  --theme-accent-2: 0deg 0% 93%;
  --theme-quote: 102deg 100% 86%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  max-width: 48rem;
  margin-inline: auto;
  padding-block-start: 4rem;
  padding-inline: 2rem;
  flex-direction: column;
  color: hsl(var(--theme-text));
  background-color: hsl(var(--theme-bg));
  font-family:
    'Geist Pixel Square', ui-monospace, SFMono-Regular, 'Roboto Mono', Menlo, Monaco,
    'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
