---
import PageLayout from '@/layouts/Base.astro';

const _meta = {
  description: 'Oops! It looks like this page is lost in space!',
  title: 'Oops! You found a missing page!',
};
---

<PageLayout meta={_meta}>
  <h1 class="title mb-6">404 | Oops something went wrong</h1>
  <p class="mb-8">Please use the navigation to find your way back</p>
  <div class="my-4 grid justify-center">
    <img
      alt="A juggler doing the boston mess pattern"
      loading="eager"
      src="https://libraryofjuggling.com/JugglingGifs/3balltricks/bostonmess.gif"
    />
  </div>
</PageLayout>
