---
import type { CollectionEntry } from 'astro:content';
import type { HTMLTag, Polymorphic } from 'astro/types';

type Props<T extends HTMLTag> = Polymorphic<{ as: T }> & {
  post: CollectionEntry<'post'>;
  withDesc?: boolean;
};

const { as: Tag = 'div', post, withDesc = false } = Astro.props as Props<'div'>;
const _postDate = post.data.updatedDate ?? post.data.publishDate;
---

<FormattedDate
  class="dt-published min-w-[120px] text-gray-600 dark:text-gray-400"
  date={_postDate}
/>
<Tag>
  {post.data.draft && <span class="text-red-500">(Draft) </span>}
  <a class="p-name cactus-link" data-astro-prefetch href={`/posts/${post.slug}/`}>
    {post.data.title}
  </a>
</Tag>
{withDesc && <q class="p-summary line-clamp-3 block italic">{post.data.description}</q>}
