---
import PageLayout from './Base.astro';

// Get frontmatter if available - for future use
// const frontmatter = Astro.props as any;
---

<!-- FIXME Pull from frontmatter -->
<PageLayout meta={{ title: "About" }}>
  <div class="space-y-6">
    <div
      class="prose prose-sm prose-cactus mt-12 prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent prose-headings:before:content-['#'] prose-th:before:content-none"
    >
      <slot />
    </div>
  </div>
</PageLayout>
