---
import PageLayout from './base.astro';
import { siteConfig } from '@/site-config';

interface Props {
  frontmatter?: {
    title?: string;
    description?: string;
  };
}

const { frontmatter = {} } = Astro.props as Props;
const _meta = {
  description: frontmatter.description ?? siteConfig.description,
  title: frontmatter.title ?? 'About',
};
---

<PageLayout meta={_meta}>
  <div class="space-y-6">
    <div
      class="prose prose-sm prose-cactus mt-12 prose-headings:font-pixel-grid prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent prose-headings:before:content-['#'] prose-th:before:content-none"
    >
      <slot />
    </div>
  </div>
</PageLayout>
